@import url('https://fonts.googleapis.com/css2?family=Manrope&family=Open+Sans:wght@300&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: 'Manrope', sans-serif;
}

.shadow {
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

.missing-img {
    border-radius: 1.5rem 1.5rem 0 0;
}